<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
        integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
        integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- up coming appointment-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-div d-flex flex-column">
                        <h3 class="font-weight-bold">Up coming appointment</h3> <span
                            class="d-block text-center px-3">Find your appointment</span>
                    </div>
                    <div class="card-div-2">
                        <div class="px-1">
                            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control"
                                    placeholder="input your appointment"> <button
                                    class="btn btn-primary">Search</button> </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s9</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s10</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s9</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s10</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Past appointment-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-div d-flex flex-column">
                        <h3 class="font-weight-bold">Past appointment</h3> <span
                            class="d-block text-center px-3">Find your appointment</span>
                    </div>
                    <div class="card-div-2">
                        <div class="px-1">
                            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control"
                                    placeholder="input your appointment"> <button
                                    class="btn btn-primary">Search</button> </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s9</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s10</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s9</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="px-1 mb-2">
                            <div class="box d-flex justify-content-between align-items-center">
                                <div> <i class="fa fa-clock-o"></i> <span>Shop s10</span> </div> <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>